<%= form_with model: blog_post, local: true, class: "space-y-6 bg-white px-6 pb-6 rounded shadow" do |form| %>

  <div>
    <%= form.label :title, class: "block font-medium text-gray-700" do %>
      Title
      <span class="text-red-500">*</span>
    <% end %>
    <%= form.text_field :title, class: "mt-1 block w-full rounded border-gray-300 shadow-sm focus:ring focus:ring-blue-500" %>
    <% if form.object.errors[:title].any? %>
      <% form.object.errors[:title].each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    <% end %>
  </div>

  <div>
  <%= form.label :body, class: "block font-medium text-gray-700" do %>
      Body
      <span class="text-red-500">*</span>
    <% end %>
    <%= form.text_area :body, class: "mt-1 block w-full rounded border-gray-300 shadow-sm focus:ring focus:ring-blue-500" %>
    <% if form.object.errors[:body].any? %>
      <% form.object.errors[:body].each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    <% end %>
  </div>

    <div>
  <%= form.label :published_at, class: "block font-medium text-gray-700"%>
    <%= form.datetime_select :published_at, include_blank: true ,class: "mt-1 block w-full rounded border-gray-300 shadow-sm focus:ring focus:ring-blue-500" %>
    <% if form.object.errors[:published_at].any? %>
      <% form.object.errors[:published_at].each do |message| %>
        <p class="text-red-500 text-sm mt-1"><%= message %></p>
      <% end %>
    <% end %>
  </div>


  <div>
    <%= form.button "Submit", class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none" %>
  </div>

<% end %>
