<h1 class="text-center text-white my-2">Posts</h1>

<% if user_signed_in? %>
  <%= link_to "Post New Blog ", new_blog_post_path, class: 'bg-blue-500 text-white px-4 py-2 font-bold rounded hover:bg-blue-600 focus:outline-none no-underline text-sm' %>
<% end %>

<% @blog_posts.each do |blog_post| %>
  <% if user_signed_in? %>
    <div class="border rounded mb-2 flex justify-between mt-3 bg-gray-800 text-white">
      <div>
        <p class="m-0 px-2 pt-2 no-underline font-bold text-2xl"><%= blog_post.title %></p>
        <p class="m-0 px-2 pb-2"><%= blog_post.body %></p>
      </div>
      <div class="px-2 py-2 flex flex-col justify-between">
        <% if blog_post.draft? %>
          <div class="flex items-start justify-end">
            <div class="px-2 rounded-full bg-gray-100 text-gray-400 font-bold text-sm">Draft</div>
          </div>
        <% elsif blog_post.scheduled? %>
          <div class="flex items-start justify-end">
            <p class="m-0 px-2 text-sm"><%= timeago_tag(blog_post.published_at, no_suffix: true, format: :long) %></p>
            <div class="px-2 rounded-full bg-blue-100 text-blue-400 font-bold text-sm">Scheduled</div>
          </div>
        <% else %>
          <div class="flex items-start justify-end">
            <p class="m-0 px-2 text-sm"><%= timeago_tag(blog_post.published_at, no_suffix: true, format: :long) %></p>
            <div class="px-2 rounded-full bg-green-100 text-green-400 font-bold text-sm">Published</div>
          </div>
        <% end %>
        <div class="flex gap-2 justify-end">
          <%= link_to blog_post, class: 'no-underline text-blue-300 font-bold border rounded-full px-1 text-lg' do %>
            <i class="fa-solid fa-eye"></i>
          <% end %>
          <%= link_to edit_blog_post_path(blog_post), class: 'no-underline text-blue-400 font-bold border rounded-full px-1 text-lg' do %>
            <i class="fa-solid fa-pen"></i>
            <% end %>
          <%= button_to blog_post, method: :delete, data: { turbo_confirm: "Are you sure to delete this post?" }, class: 'no-underline text-red-400 font-bold text-lg' do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <%= link_to blog_post, class: 'no-underline' do %>
      <div class="border rounded mb-2 flex justify-between mt-3 bg-gray-800 text-white">
        <div>
          <p class="m-0 px-2 pt-2 font-bold text-2xl"><%= blog_post.title %></p>
          <p class="m-0 px-2 pb-2"><%= blog_post.body %></p>
        </div>
        <p class="m-0 px-2 py-2 text-sm"><%= timeago_tag(blog_post.published_at, no_suffix: true, format: :long) %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
